<?php
ob_start("ob_gzhandler");									
header("Content-Type: text/css; charset=UTF-8"); 
?>
span {
   font:normal 13px verdana;
   margin-left:3px;
   margin-right:4px;
}
input {
   font:normal 13px verdana;
   padding:2px;
   border:solid 1px rgb(169,169,169);
   width:200px;
   margin-left:3px;
   margin-top:20px;
   margin-bottom:20px;
}
p {
   display:none;
}
[form="add_tool"] {
   font:normal 12px verdana;
   table-layout:fixed;
}
[form="add_tool"] th {
   background-color:rgb(244,244,247);
   border:solid 1px rgb(225,225,234);
   font-weight:normal;
   padding:2px;
}
[form="add_tool"] th:nth-child(1), [form="add_tool"] th:nth-child(2), [form="add_tool"] th:nth-child(3), [form="add_tool"] th:nth-child(5), [form="add_tool"] th:nth-child(6) {
   text-align:left;
}
[form="add_tool"] td:nth-child(1), [form="add_tool"] th:nth-child(1) {
   width:180px;
   padding:2px;
}
[form="add_tool"] td:nth-child(2), [form="add_tool"] th:nth-child(2) {
   width:180px;
   padding:2px;
}
[form="add_tool"] td:nth-child(3), [form="add_tool"] th:nth-child(3) {
   width:180px;
   padding:2px;
}
[form="add_tool"] td:nth-child(4), [form="add_tool"] th:nth-child(4) {
   width:90px;
   padding:2px;
   text-align:center;
}
[form="add_tool"] td:nth-child(5), [form="add_tool"] th:nth-child(5) {
   width:90px;
   padding:2px;
   text-align:left;
}
[form="add_tool"] td:nth-child(6), [form="add_tool"] th:nth-child(6) {
   width:174px;
   padding:2px;
}
[form="add_tool"] a {
   color:rgb(0,102,158);
   text-decoration:none;
}
[form="add_tool"] a:hover {
   text-decoration:underline;
}
[form="toollist"] {
   font:normal 12px verdana;
   table-layout:fixed;
}
[form="toollist"] th {
   background-color:rgb(244,244,247);
   border:solid 1px rgb(225,225,234);
   font-weight:normal;
   padding:2px;
}
[form="toollist"] th:nth-child(1), [form="toollist"] th:nth-child(2), [form="toollist"] th:nth-child(4) {
   text-align:left;
}
[form="toollist"] td:nth-child(1), [form="toollist"] th:nth-child(1) {
   width:180px;
   padding:2px;
}
[form="toollist"] td:nth-child(2), [form="toollist"] th:nth-child(2) {
   width:370px;
   padding:2px;
}
[form="toollist"] td:nth-child(3), [form="toollist"] th:nth-child(3) {
   width:90px;
   padding:2px;
   text-align:center;
}
[form="toollist"] td:nth-child(4), [form="toollist"] th:nth-child(4) {
   width:90px;
   padding:2px;
}
[form="toollist"] a {
   color:rgb(0,102,158);
   text-decoration:none;
}
[form="toollist"] a:hover {
   text-decoration:underline;
}

<?php 
include_once("../../../../../library/css5/te.tools/confirm_box.css");   
include_once("../../../../../library/css5/button.css");   
?>