<?php
ob_start("ob_gzhandler");									
header("Content-Type: text/css; charset=UTF-8"); 
?>
body {
   font:normal 13px verdana;
}

input {
   font:normal 13px verdana;
   padding:2px;
   border:solid 1px rgb(169,169,169);
   width:200px;
   margin-left:3px;
   margin-top:20px;
   margin-bottom:20px;
}
p {
   display:none;
}
[form="finalize"] {
   font:normal 12px verdana;
   table-layout:fixed;
}
[form="finalize"] th {
   background-color:rgb(244,244,247);
   border:solid 1px rgb(225,225,234);
   font-weight:normal;
   padding:2px;
}
[form="finalize"] th:nth-child(1), [form="finalize"] th:nth-child(2) {
   text-align:left;
}
[form="finalize"] td:nth-child(1), [form="finalize"] th:nth-child(1) {
   width:90px;
   padding:2px;
}
[form="finalize"] td:nth-child(2), [form="finalize"] th:nth-child(2) {
   width:280px;
   padding:2px;
}

[form="finalize"] a {
   color:rgb(0,102,158);
   text-decoration:none;
}
[form="finalize"] a:hover {
   text-decoration:underline;
}