<?php
ob_start("ob_gzhandler");									
header("Content-Type: text/css; charset=UTF-8"); 
?>
body {
   font:normal 13px verdana;
}
input {
   font:normal 13px verdana;
   padding:2px;
   border:solid 1px rgb(169,169,169);
   width:200px;
   margin-left:3px;
   margin-bottom:20px;
}
p {
   display:none;
}
[form="partlist"] {
   font:normal 13px verdana;
   table-layout:fixed;
}
[form="partlist"] th {
   background-color:rgb(244,244,247);
   border:solid 1px rgb(225,225,234);
   font-weight:normal;
   padding:2px;
}
[form="partlist"] th:nth-child(1), [form="partlist"] th:nth-child(5) {
   text-align:left;
}
[form="partlist"] td:nth-child(1), [form="partlist"] th:nth-child(1) {
   width:150px;
   padding:2px;
}
[form="partlist"] td:nth-child(2), [form="partlist"] th:nth-child(2) {
   width:78px;
   padding:2px;
   text-align:center;
}
[form="partlist"] td:nth-child(3), [form="partlist"] th:nth-child(3) {
   width:148px;
   padding:2px;
   text-align:left;
}
[form="partlist"] td:nth-child(4), [form="partlist"] th:nth-child(4) {
   width:78px;
   padding:2px;
   text-align:center;
}
[form="partlist"] td:nth-child(5), [form="partlist"] th:nth-child(5) {
   width:80px;
   padding:2px;
   text-align:center;
}
[form="partlist"] td:nth-child(6), [form="partlist"] th:nth-child(6) {
   width:600px;
   padding:2px;
}
[form="partlist"] a {
   color:rgb(0,102,158);
   text-decoration:none;
}
[form="partlist"] a:hover {
   text-decoration:underline;
}