<?php header("Content-type: text/css"); ob_start("ob_gzhandler");

$include = explode(";", rawurldecode($_SERVER["QUERY_STRING"]));

print "/*\r\n";
foreach($include as $k => $v) {
   if(!file_exists($v.".css")) unset($include[$k]);
   else print substr($v.".css                               ", 0, 32).substr("        ".filesize($v.".css"), -8)."\r\n";
}
print "*/\r\n";
foreach($include as $v) {
   print "\r\n/* ".$v.".css */\r\n";
   include_once($v.".css");
}

?>